<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="ISO-8859-1">
<title>TixHub Event Portal</title>
<section th:replace="header::includes"/>
<script>
	$(document).ready(function() {
		$("#invalidCredAlertCloseBtn").click(function() {
			$("#invalidCredentialsAlert").removeClass('show');
		});

		$("#loginBtn").click(function() {
			$("#invalidCredentialsAlert").addClass('show');
			window.location.replace("/");
		});
	});
</script>
<style>
.event_image {
	width: 100%;
	padding-bottom: 56.25%;
	background-size: cover;
	margin-bottom: .5em;
}

.page-title {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #2c3e50;
}
</style>

</head>
<body>
	<header th:replace="header::header"></header>
	<section id="greeting" class="container py-2">
		<h1 class="page-title text-primary">View Events</h1>

	</section>

	<section class="container py-2">

		<div class="row">
			<div class="col-md-12">
				<table id="eventListTable" class="table" aria-describedby="my events">
					<thead>
						<tr>
							<th id="nameHeading">Name</th>
							<th id="eventDateHeading">Event Date</th>
							<th id="numTicketsHeading"># of Tickets</th>
						</tr>
					</thead>
					<tbody id="eventListBody">
						<tr th:each="event: ${events}">
							<td><a href="/events/id"><span th:text="${event.name}"></span></a></td>
							<td th:text="${event.eventDate}"></td>
							<td th:text="4"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>

</body>
</html>