<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="ISO-8859-1">
<title>TixHub Event Portal</title>
<section th:replace="header::includes"/>
<script>

$.validator.setDefaults({
	submitHandler: function(form) {
		$('#exampleModal').modal('toggle');
		var email = $("#email").val();
		var rsvpMessageHTML = "<strong>RSVP Complete!</strong> An email has been sent to: " + email;
		$("#rsvpMsgSpan").html(rsvpMessageHTML);
		$("#rsvpSuccessAlert").addClass('show');
	}
});

	$(document).ready(function() {
		$("#invalidCredAlertCloseBtn").click(function(){
			$("#rsvpSuccessAlert").removeClass('show');
		});
		
		
		$("#rsvpForm").validate({
			rules: {
				numOfTickets: "required",
				name: "required",
				email: {required: true, email: true}
				
			},
			messages: {
				numOfTickets: "Enter a number",
				name: "Please enter a name",
				email: "Please enter your valid email"
			}
		});
	});
</script>
<style>
.event_image {
    width: 100%;
    padding-bottom: 56.25%;
    background-size: cover;
    margin-bottom: .5em;
}

.page-title {
    padding-top: .5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #2c3e50;
}

form .error {
  color: #ff0000;
}
</style>

</head>
<body>
	<header th:replace="header:: header"> </header>
	<section id="greeting" class="container py-2">
		<h2 class="page-title text-primary">Event Details</h2>
		
	</section>

	<section class="container py-2">
		<div id="rsvpSuccessAlert" class="alert alert-success alert-dismissible fade" role="alert">
  		<span id="rsvpMsgSpan"></span>
  		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    		<span aria-hidden="true">&times;</span>
  		</button>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
					<div class="row">
						<div class="col-md-2">
						</div>
						<div class="col-md-10">
						<h3 class="card-title" th:text="${event.name}"></h3>
						<section id="event_short_description">
						<p class="card-text" th:text="${event.shortDescription}"></p>
							
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">RSVP</button>
						</section>
						
						<section class="py-2">
						<strong>Event Date: <span th:text="${#dates.format(#dates.createNow(), 'MMMM dd, yyyy hh:mm:a')}"></span></strong>
						</section>
						<section id="event_long_description">
						<p th:text="${event.longDescription}"></p>
						</section>
						</div>
					</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title"><span th:text="${event.name}"></span>: RSVP</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <form name="rsvpForm" id="rsvpForm" method="post" novalidate="novalidate">
      <div class="modal-body">
        <div class="form-group">
			<label for="name" id="nameLabel" name="nameLabel">Name: </label> 
			<input id="name" name="name" class="form-control form-control-lg" type="text" required="required"/>
		</div>
		<div class="form-group">
			<label for="numOfTickets" id="numOfTicketsLabel" name="numOfTicketsLabel"># of Tickets: </label> 
			<input id="numOfTickets" name="numOfTickets" class="form-control form-control-lg" type="number" required="required" size="4" maxlength="4" />
		</div>
		<div class="form-group">
			<label for="email" id="emailLabel" name="emailLabel">Email Address: </label> 
			<input id="email" name="email" class="form-control form-control-lg" type="email" required="required"/>
		</div>
      </div>
      <div class="modal-footer">
        <input id="rsvpBtn" type="submit" value="RSVP" class="btn btn-primary"/>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div> 
  </div>
</div>

</body>
</html>