<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register User</title>
<link rel="stylesheet" th:href="@{/css/bootstrap/flatly/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/css/all.css}" />
<script type="text/javascript" th:src="@{/js/jquery/jquery-3.5.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
</head>
<body>
	<header th:replace="header:: header"> </header>

		<section id="registerFormSection" class="container py-4" >
			<div class="row">
				<div class="col-md-8">
					<div class="card">
						<div class="card-header">
							<div>Reset Password</div>			
						</div>
						<div class="card-body">

							<div class="form-group">
								<label>UserId: </label> 
								<input id="userId" class="form-control form-control-lg" type="text" required="required" />
							</div>
							<div class="form-group">
								<label>Password: </label> 
								<input id="password" class="form-control form-control-lg" type="password"  required="required" />
							</div>
							<div class="form-group">
								<label>Confirm Password: </label> 
								<input id="confirmPassword" class="form-control form-control-lg" type="password"  required="required" />
							</div>
							<input type="submit" id="submitBtn"
								class="btn btn-lg btn-primary" value="Reset">


						</div>
					</div>
				</div>
			</div>
			</section>
</body>
</html>